:root {
    --primary-color: #061A40;
    --primary-color-opacity: rgba(6, 26, 64, .75);
    --secondary-color: #AFD6FE;
    --accent1-color: #239CB3;
    --accent2-color: #B2830C ;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    --fancy-font: "Shadows Into Light", "Lucida Handwriting", cursive;
    --plain-font: Roboto;
}

h2 {
    font-family: var(--fancy-font);
    display: flex;
    margin: 15px auto;
    align-items: center;
    justify-content: center;
    color: var(--accent1-color);
    font-size: 30px;
    border: solid var(--primary-color);
    border-radius: 40px;
    width: 95%;
    padding: 2px 15px 2px 15px;
    margin-top: 35px;
}

p {
    font-family: var(--plain-font);
    color: var(--primary-color);
}

.socials {
    text-decoration: none;
    display: flex;
    justify-content: end;
    grid-column: 3 / 4;
    gap: 20px;
}

footer {
    font-size: 20px;
    font-family: var(--fancy-font);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    align-items: center;
    background-color: var(--accent1-color);
    padding-top: 9px;
    margin-top: 20px;
}

footer p {
    grid-column: 2 / 3;
    text-align: center;
}

h1 {
    height: 48px;
    margin: 10px 0 10px 0;
    padding: 2px;
    text-align: center;
    background-color: var(--accent1-color);
    font-family: var(--fancy-font);
    font-size: 36px;
}

main h1 {
    position: relative;
}

.hero {
    position: relative;
    width: 100vw;
    height: 50vw;
}
.hero h1 {
    z-index: 10;
    position: absolute;
    width: 100vw;
    margin: 5vw 0 0 0%;
    opacity: 75%;
}

.hero article {
    position: absolute;
    z-index: 1;
    margin: 10vw 15% 10vw 5vw;
    background-color: var(--primary-color-opacity);
    width: 90%;
    height: 35vw;
}

.hero article img {
    float: right;
    position: relative;
    margin: 20px 20px;
    opacity: 100%;
    width: 31vw;
    height: 31vw;
    border: solid var(--primary-color);
}

.hero img {
    z-index: 1;
    position: absolute;
    display: inline;
    height: 50vw;
    width: 100vw;
    object-fit: cover;
    margin: 0 auto;
}

.hero article p {
    z-index: 100;
    color:var(--secondary-color);
    margin: 30px;
    font-family: var(--plain-font);
    font-size: 30px;
}

header {
    display: grid;
    grid-template-columns: 500px 1fr;
    color: var(--primary-color)
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--fancy-font);
    font-size: 36px;
    font-weight: bold;
}

nav a {
    color: var(--accent1-color);
}

nav a:visited {
    color: var(--primary-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    gap: 20px;
    font-family: var(--plain-font);
    font-size: 20px;
    text-align: justify;
}

.left {
    margin-left: 50px;
}

.right {
    margin-right: 50px;
}

.history img {
    border: solid var(--primary-color);
    min-width: 250px;
    min-height: 250px;
    object-fit: cover;
    justify-self: center;
}

.history h2 {
    grid-column: 1 / 4;
}

.adventure {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.adventure figure {
    margin: 0;
    max-height: 400px;
    font-family: var(--plain-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
}

.adventure figure img {
    width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid var(--primary-color);
}

.adventure h2 {
    grid-column: 1 / 6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: grid;
    grid-template-columns: 2rem 1fr ;
    text-align: end;
    width: 750px;
    padding: 10px;
}

.message fieldset {
    grid-column: 1 / 3;
    gap: 30px;
    text-align: left;
    font-size: 20px;
    font-family: var(--plain-font);
    color: var(--primary-color);
}

.sent {
    display: grid;
    gap: 20px;
    grid-template-columns: 30px 1fr 30px 1fr 30px 1fr;
}

.sent p {
    grid-column: 1 / 7;
    text-align: center;
}

.sent label {
    align-self: center;
}

.message h2 {
    grid-column: 1 / 6;
}

.purpose {
    grid-column: 1 / 7;
    gap: 30px;
    text-align: center;
}

input[type="radio"] {
    height: 15px;
    justify-content: right;
    align-self: center;
}

.contact {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    color: var(--primary-color);
}

.employees {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-family: var(--plain-font);
    color: var(--primary-color);
    font-size: 20px;
}

.contact h2 {
    grid-column: 1 / 3;
}

.address, .phone, .email{
    margin: 0;
    max-height: 15vw;
    font-family: var(--plain-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
}

.address {
    grid-column: 1 / 2;
}

.phone {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.email {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.location {
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    text-align: center;
}

.location iframe {
    max-width: 100%;
    max-height: 100%;
}

.employees figure img {
    width: 200px;
    max-height: 150px;
    object-fit: cover;
    border: solid var(--primary-color);    
}

.employees figure {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.employees h2{
    grid-column: 1 / 4;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    padding: 5px;
    margin-top: 10px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border-radius: 30px;
    font-size: 20px;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.phone a, .email a {
    color: var(--accent1-color);
}

.phone a:visited, .email a:visited {
    color: var(--accent2-color);
}

textarea {
    grid-column: 1 / 7;
    padding: 10px;
    font-family: var(--plain-font);
    color: var(--primary-color);
    font-size: 20px;
}

.trips {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.trip1, .trip2, .trip3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 15px;
    align-items: center;
    justify-items: center;
}

.trip1 h3, .trip2 h3, .trip3 h3 {
    grid-column: 1 / 5;
}

.trip1 img, .trip2 img, .trip3 img {
    justify-self: center;
    height: 200px;
    object-fit: cover;
    border: solid var(--primary-color);
}

.trip1 p {
    grid-column: 2 / 3;
    font-family: var(--plain-font);
    padding: 7px;
}

.trip2 p {
    grid-column: 3 / 4;
    font-family: var(--plain-font);
    padding: 7px;

}
.trip3 p {
    grid-column: 1 / 2;
    margin-left: 40px;
    font-family: var(--plain-font);
    padding: 7px;
}

.trip1 a, .trip2 a, .trip3 a {
    grid-column: 4 / 5;
    font-family: var(--fancy-font);
    font-size: 30px;
    background-color: var(--accent2-color);
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    padding: 40px;
    margin-left: 20px;
    margin-right: 40px;
    border: solid var(--primary-color);
}

.trip1 a:visited, .trip2 a:visited, .trip3 a:visited {
    color: var(--primary-color);
}

 h3 {
    font-family: var(--fancy-font);
    color: var(--primary-color);
    font-size: 26px;
    text-align: center;
    margin: 20px;
    border: solid var(--accent1-color);
    border-radius: 30px;
    width: 200px;
    justify-self: center;
    margin-top: 50px;
 }

.upcoming {
    justify-content: center;
    width: 100%;
}

 table th {
    font-family: var(--fancy-font);
    color: var(--primary-color);
    font-size: 26px;
    border-bottom: dashed var(--accent1-color);
    text-align: center;
 }

 table td {
    font-family: var(--plain-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 20px;
    width: 300px;
    padding-top: 10px;
    border-bottom: dashed var(--accent1-color);
 }

 footer a {
    text-decoration: none;
    font-family: var(--plain-font);
    color: var(--primary-color);
    text-align: center;
 }

 .banner p {
    position: absolute;
    font-family: var(--fancy-font);
    font-size: 30px;
    top: 10px;
    color: var(--accent1-color);
    font-weight: bold;
    background-color: var(--primary-color-opacity);
    width: 100%;
    text-align: center;
}

.banner img {
    width: 100vw;
    padding: 2px;
    height: 50vw;
    object-fit: cover;
}

.banner {
    position: relative;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    justify-content: center;
    width: 100%;
}

.home form h2 {
    grid-column: 1 / 2;
}

.home form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: var(--plain-font);
    color: var(--primary-color);
    font-size: 20px;
}

.home a{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-self: center;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border-radius: 30px;
    font-size: 20px;
    text-decoration: none;
    border: solid var(--primary-color);
    font-family: var(--plain-font);
}

.mail {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.perfect {
    grid-column: 2 / 3;
}
.perfect a:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.images h2 {
    grid-column: 1 / 3;
}

.raft, .camp, .food {
    grid-column: 1 / 2;
}

.images p {
    font-size: 20px;
    font-family: var(--plain-font);
    color: var(--primary-color);
    justify-self: center;
    text-align: justify;
}

.images img{
    max-height: 300px;
    object-fit: cover;
    border: solid var(--primary-color);
    justify-self: center;
}