:root {
    --primary-color: #061A40;
    --secondary-color: #AFD6FE;
    --accent1-color: #239CB3;
    --accent2-color: #B2830C ;
    max-width: 1000px;
}

header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-family: "Shadows Into Light", "Lucida Handwriting", cursive;
    color: var(--accent1-color);
}

p {
    font-family: Roboto;
    color: var(--primary-color);
}

socials {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 1000px;
    height: 500px;
}

.hero h1 {
    z-index: 100;
    position: absolute;
    /* box-sizing: border-box; */
    width: 100%;
    margin: 5% 0 0 0%;
    text-align: center;
    background-color: var(--accent1-color);
    opacity: 75%;
    font-family:  "Shadows Into Light", "Lucida Handwriting", cursive;
}

.hero article {
    position: absolute;
    z-index: 100;
    margin: 15% 5% 10% 5%;
    background-color: var(--primary-color);
    box-sizing: border-box;
    width: 90%;
    height: 60%;
    opacity: 75%;
}

.hero article img{
    float: right;
    position: relative;
    margin: 30px;
    box-sizing: border-box;
    opacity: 100%;
    width: 240px;
    height: 240px;
}

.hero img{
    z-index: 1;
    position: absolute;
    display: block;
    height: 500px;
    width: 1000px;
    object-fit: cover;
    padding-bottom: 500px gray;
    margin: 0 auto;
}

.hero article p {
    z-index: 100;
    color:#AFD6FE;
    margin: 30px;
    font-family: Roboto;
}

/* main section {
    position: relative;
    padding-top: 500px; */
/* } */