:root {
    --primary-color: #061A40;
    --secondary-color: #AFD6FE;
    --accent1-color: #239CB3;
    --accent2-color: #B2830C ;
    max-width: 1000px;
}


h2 {
    font-family: "Shadows Into Light", "Lucida Handwriting", cursive;
    color: var(--accent1-color);
}

p {
    font-family: Roboto;
    color: var(--primary-color);
}

socials {
    text-decoration: none;
}

hero {
    position: relative;
    width: 500x;
    
}

.hero h1 {
    z-index: 100;
    position: absolute;
    margin:5% 0% 10% 0%;
    width: 100%;
    text-align: center;
    /* background-color: #239CB3; */
    /* color: var(--primary-color); */
    /* z-index: 100; */
    background-color: var(--accent1-color);
    
    opacity: 75%;
    /* size: 1000px; */
    font-family:  "Shadows Into Light", "Lucida Handwriting", cursive;
}

.hero article {
    display: inline-block;
    position: absolute;
    z-index: 100;
    margin: 10% 0% 10% 0%;
    /* float: middle; */
    background-color: var(--primary-color);
    box-sizing: border-box 100%;
    /* padding: 4px var(--primary-color); */
    width: 100%;
    height: 300px;
    opacity: 75%;
}

.hero article img{
    z-index: 1000;
    float: right;
    position: relative;
    margin: 30px 30px 30px 30px;
    box-sizing: border-box;
    
    opacity: 100%;
    width: 240px;
    height: 240px;
}

.hero img{
    z-index: 1;
    position: absolute;
    /* float: center; */
    /* align-items: center; */
    display: block;
    height: 500px;
    width: 100%;
    object-fit: cover;
    /* height: auto;    */
}

.hero article p {
    z-index: 100;
    color:#AFD6FE;
    margin: 30px;
    font-family: Roboto;
}