:root{
    --dark-color: #122027;
    --padding: 30px;   
}

nav {
    background-color: var(--dark-color);
    padding: var(--padding);
}

main {
   max-width: 500px;
   margin: 30px
}

aside {
    width: 500px;
    margin: 20px;
    border: dashed #122027 2px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #DCE0BC;
    color: #122027;
}

aside img {
    width: 200px;
    height: auto;
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: #122027
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--dark-color);
    padding: var(--);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 3px solid var(--dark-color);
    text-align: center;
}
